<h1>지원하기</h1>
<form name="aform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr><td>이름</td><td>{{form.name}}</td></tr>
        <tr><td>학번</td><td>{{form.student_id}}</td></tr>
        <tr><td>전공</td><td>{{form.major}}</td></tr>
        <tr><td>이메일</td><td>{{form.email}}</td></tr>
        <tr><td>연락처</td><td>{{form.phone}}</td></tr>
        <tr><td>지원동기</td><td>{{form.body}}</td></tr>
        <tr><td>파일업로드</td><td>{{form.file}}</td></tr>
    </table>
    <br>
    <input type="submit" value="임시저장" name="_save">
    <input type="submit" value="제출" name="_submit">
</form>